$backgroundColor1:#24DCAB;
$backgroundColor2:#5D0CF5;
$backgroundColor3:#232121;
$backgroundColor4:#f6e8e8;
$mainColor:#ffffff;
$color2: $backgroundColor3;
$sunColor1:#F53900;
$sunColor2:#F5C918;
$cardColor1:#7ED1E7;
$cardColor2:#F16529;
$cardColor3:#1572B6;
$cardColor4:#F7DF1E;
$cardColor5:#FF61F6;
$textColor1: #F6E8E8;
// $toto: rgb(69, 111, 225);
// $mainColor: #ffffff;
// $secondColor: #D3D0CB;
// $thirdColor:#ff206e;
// $fourthColor: #fbff12;
// $fifthColor: #41ead4;
// $sixthColor: rgba(255, 255, 255, 0.4);